
.paginator {
    margin: 20px 0 20px 50px;

}
.pageNumber {
    padding: 4px;
    margin: 0px 1px;
    border: 1px solid grey;
    cursor: pointer;
    font-size: 20px;
    border-radius: 3px;
}

.pageNumber:hover{
    font-weight: bold;
    border-color: black;
}
.userPageBtn{
    margin:0 10px;
    width: 70px;
    height: 30px;
    direction: none;
    outline: none;
    background-color: rgb(0, 24, 68);
    color: #fff;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
}
.userPageBtn:hover{
    background-color: rgb(2, 54, 150); 
}